/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* CSS */

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1024px to 1366px
  */

@media (min-width: 1024px) and (max-width: 1366px) {



    .btn-right-area {
        width: 10%;
    }

    .btn-menu {
        display: none !important;
    }

    .dot {
        bottom: 0px;
        left: 0px;
        flex-direction: row;
    }

    .carousel-indicators [data-bs-target] {

        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -9999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
    }

    .dot__item:hover {
        border: 0;
    }

    .dot__item {

        width: 30px !important;
        height: 3px !important;
        padding: 0 !important;
        background: none;
    }

    .dot__item.active {
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        opacity: 1;
    }

    .places-list {
        flex-direction: column;
    }

    .places-item {
        width: 100%;
        height: 100%;
        padding: 0 16px;
    }

    figure.snip0016 {
        margin: 2px;
        width: calc(100%/3 - 4px) !important;

    }

    figure.snip0016 figcaption {
        padding: 30px 0 11px 3rem;
    }

    figure.snip0016 h4 {
        font-size: 12px;
    }

    figure.snip0016 a {
        font-size: 12px;
    }

    .pricing_header {
        padding: 0px 0px 40px;
    }

    .price_decimal {
        top: 68px;
    }

    .pricing_footer {
        margin: 0;
    }

    .footer-section .item {
        width: calc(100%/2);
    }

    #go-top {
        bottom: 55%;
    }

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1023px) {
    #header {
        background-color: #54595F !important;
    }

    .btn-sidebar-left {
        display: block !important;
    }

    .logo {
        border: none;
    }

    .sticky {
        background: none;
    }

    .btn-right {
        border: none;
        height: 105px;
        max-height: 100%;
        padding: 48px 30px 30px 30px;
        font-size: 30px;
        margin: -20px 0px 0px 0;
        color: white !important;
        cursor: pointer;
    }

    #slider {
        margin: 105px 0 0 0;
    }

    #slider .text-about {
        font-size: 55px;
    }

    #slider .btn-see {
        padding: 8px 25px;
    }

    .btn-right-area {
        width: 10%;
    }

    .btn-menu {
        display: none !important;
    }

    .dot {
        bottom: 0px;
        left: 0px;
        flex-direction: row;
    }

    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -9999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
    }

    .dot__item {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -9999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;

        width: 30px !important;
        height: 3px !important;
        padding: 0 !important;
        background: none;
    }

    .dot__item.active {
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        opacity: 1;
    }

    .places-list {
        flex-direction: column;
    }

    .places-item {
        width: 100%;
        height: 100%;
        padding: 0 16px;
    }

    figure.snip0016 {
        margin: 2px;
        width: calc(100%/3 - 4px) !important;

    }

    figure.snip0016 figcaption {
        padding: 30px 0 11px 3rem;
    }

    figure.snip0016 h4 {
        font-size: 12px;
    }

    figure.snip0016 a {
        font-size: 12px;
    }

    .pricing_header {
        padding: 0px 0px 40px;
    }

    .price_decimal {
        top: 68px;
    }

    .pricing_footer {
        margin: 0;
    }

    .footer-section .item {
        width: calc(100%/2);
    }

    #go-top {
        bottom: 40%;
    }


    /* detail */
    #detail .section_footer .item-image {
        width: calc(100%/2 - 20px);

    }

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {

    #header {
        background-color: #54595F !important;
    }

    .btn-sidebar-left {
        display: block !important;
    }

    .logo {
        border: none;
    }

    .sticky {
        background: none;
    }

    .btn-right {
        border: none;
        height: 105px;
        max-height: 100%;
        padding: 48px 30px 30px 30px;
        font-size: 30px;
        margin: -20px 0px 0px 0;
        color: white !important;
        cursor: pointer;
    }

    #slider {
        margin: 105px 0 0 0;
    }

    #slider .text-about {
        font-size: 55px;
    }

    #slider .btn-see {
        padding: 8px 25px;
    }

    .btn-right-area {
        width: 10%;
    }

    .btn-menu {
        display: none !important;
    }

    .dot {
        bottom: 0px;
        left: 0px;
        flex-direction: row;
    }

    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -9999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
    }

    .dot__item {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -9999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;

        width: 30px !important;
        height: 3px !important;
        padding: 0 !important;
        background: none;
    }

    .dot__item.active {
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        opacity: 1;
    }

    .places-list {
        flex-direction: column;
    }

    .places-item {
        width: 100%;
        height: 100%;
        padding: 0 16px;
    }

    figure.snip0016 {
        margin: 2px;
        width: calc(100%/3 - 4px) !important;

    }

    figure.snip0016 figcaption {
        padding: 30px 0 11px 3rem;
    }

    figure.snip0016 h4 {
        font-size: 12px;
    }

    figure.snip0016 a {
        font-size: 12px;
    }

    .pricing_header {
        padding: 0px 0px 40px;
    }

    .price_decimal {
        top: 68px;
    }

    .pricing_footer {
        margin: 0;
    }

    .footer-section .item {
        width: calc(100%/2);
    }

    #go-top {
        bottom: 40%;
    }

    /* detail */
    #detail .detail_header {
        justify-content: end !important;
    }

    #detail .section_footer .item-image {
        width: calc(100%/2 - 20px);
        /* margin-bottom: 20px; */
    }

    #detail .section_footer {
        margin: 20px 0;
    }

    #detail .description_1_image img {
        width: 100%;
    }

    #detail .description_2_image {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    #detail .description_2_image img {
        width: 100%;
        margin: 10px 0;
    }


}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    #header {
        background-color: #54595F !important;
    }

    .btn-sidebar-left {
        display: block !important;
    }

    .logo {
        border: none;
    }

    .sticky {
        background: none;
    }

    .btn-right {
        border: none;
        height: 105px;
        max-height: 100%;
        padding: 48px 30px 30px 30px;
        font-size: 30px;
        margin: -20px 0px 0px -10px;
        color: white !important;
        cursor: pointer;
    }

    #slider {
        margin: 105px 0 0 0;
    }

    #slider .text-about {
        font-size: 45px;
    }

    #slider .btn-see {
        padding: 8px 25px;
    }

    .btn-right-area {
        width: 10%;
    }

    .btn-menu {
        display: none !important;
    }

    .dot {
        bottom: 0px;
        left: 0px;
        flex-direction: row;
    }

    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -9999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
    }

    .dot__item {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -9999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;

        width: 30px !important;
        height: 3px !important;
        padding: 0 !important;
        background: none;
    }

    .dot__item.active {
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        opacity: 1;
    }

    .places-list {
        flex-direction: column;
    }

    .places-item {
        width: 100%;
        height: 100%;
        padding: 0 16px;
    }

    figure.snip0016 {
        width: 100% !important;
    }

    #price .item {
        width: calc(100%/2 - 10px);
        margin: 6px 5px;
    }

    #price .list-item {
        padding: 0px 20px;
    }

    .price_decimal {
        top: 68px;
    }

    .pricing_footer {
        margin: 0;
    }

    #color_scheme .list-item {
        padding: 0px 20px;
    }


    #color_scheme .item_image {
        max-width: 100% !important;
    }

    .footer-section .item {
        width: 100%;
        padding: 20px;
    }

    #go-top {
        bottom: 40%;
    }

    /* detail */
    #detail .detail_header {
        justify-content: end !important;
    }

    #detail .section_footer .item-image {
        width: calc(100%/2 - 20px);
        margin-bottom: 20px;
    }

    #detail .section_footer {
        margin: 20px 0;
    }

    #detail .description_1_image img {
        width: 100%;
    }

    #detail .description_2_image {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    #detail .description_2_image img {
        width: 100%;
        margin: 10px 0;
    }


}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    #header {
        background-color: #54595F !important;
    }

    #content .content-section {
        padding: 18px 10px 25px
    }

    .btn-sidebar-left {
        display: block !important;
    }

    .logo {
        border: none;
        width: 272px;
    }


    .default_logo {
        width: 140px;
        height: 48px;
    }

    .sticky {
        background: none;
    }

    .btn-right-area i {
        border: none !important;
    }

    .btn-right {
        padding: 45px 0 0 0;
        font-size: 30px;
        margin: -20px 0px 0px 0;
        color: white !important;
        cursor: pointer;
    }

    .skill-section .section-heading {
        font-size: 25px;
    }

    #slider {
        margin: 105px 0 0 0;
    }

    #slider .text-about {
        font-size: 30px;
        left: 0;
    }

    #slider .btn-see {
        padding: 5px 8px;
        margin-top: 10px;
    }

    .btn-right-area {
        width: 10%;
    }

    .btn-menu {
        display: none !important;
    }

    .dot {
        bottom: 0px;
        left: 0px;
        flex-direction: row;
    }

    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -9999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
    }

    .dot__item {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -9999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;

        width: 30px !important;
        height: 3px !important;
        padding: 0 !important;
        background: none;
    }

    .dot__item.active {
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        opacity: 1;
    }

    .places-list {
        flex-direction: column;
    }

    .places-item {
        width: 100%;
        height: 100%;
        padding: 0 16px;
    }

    figure.snip0016 {
        width: 100% !important;
    }

    #price .item {
        width: calc(100% - 10px);
        margin: 6px 5px;
    }

    #price .list-item {
        padding: 0px 40px;
    }

    .price_decimal {
        top: 40px;
        right: 30px;
    }

    .pricing_footer {
        margin: 0;
    }

    #color_scheme .list-item {
        padding: 0px 20px;
    }


    #color_scheme .item_image {
        max-width: 100% !important;
    }

    .footer-section .item {
        width: 100%;
        padding: 20px;
    }

    #go-top {
        bottom: 30%;
    }

    /* detail */
    #detail .detail_header {
        justify-content: end !important;
    }

    #detail .section_footer .item-image {
        width: calc(100% - 20px);
        margin-bottom: 20px;
    }

    #detail .section_footer {
        margin: 20px 0;
    }

    #detail .description_1_image img {
        width: 100%;
    }

    #detail .description_2_image {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    #detail .description_2_image img {
        width: 100%;
        margin: 10px 0;
    }

}