* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.main {
    /* height: 100000px; */
}

#header {
    /* display: none; */
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 105px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3);
    transition: 0.6s;
}

#header a:hover {
    color: #fa4d09;
}

.sticky {
    background: white;
    animation: headerDown ease-in-out .6s !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}

@keyframes headerDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }

}

.paused {
    animation-play-state: paused;
}

.sticky .nav-link,
.sticky.btn-search {
    color: rgb(0, 0, 0);
}

.sticky.btn-menu {
    background-color: rgba(49, 49, 49, 1);
    color: white !important;
}

.header-fluid {
    display: flex !important;
    justify-content: space-between;
}

.btn-sidebar-left {
    width: 3rem;
    font-size: 25px;
    color: #f8f9fa !important;
    display: none;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
}

/* body */

#body {}

/* CONTENT */
#content {}

#content .content-section {
    width: 1170px;
    padding: 65px 0 88px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;
}

.content-section .section-heading {
    position: relative;
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    text-align: left;
    /* opacity: 0.4; */
}



/* sidebar */

#leftSibar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#leftSibar.open {
    display: block !important;
}

.left-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    animation: leftSidebar ease 0.6s;
    /* animation-direction: reverse; */
}

.left-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.left-sidenav a:hover {
    color: #f1f1f1;
}

.left-sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.leftSibar-menu_header {
    display: flex;
    margin-left: 5px;

}

.leftSibar-menu_header .side-panel_close {
    font-size: 45px;
    margin: -20px 0px 0px 35px;
}

.leftSibar-body {
    padding: 20px;
}

.leftSibar-item .leftSibar-link {
    font-size: 15px;
    text-transform: uppercase;
}

.leftSibar-item .leftSibar-link:hover {
    color: #fa4d09;
}

@keyframes leftSidebar {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@media screen and (max-height: 450px) {
    .left-sidenav {
        padding-top: 15px;
    }

    .left-sidenav a {
        font-size: 18px;
    }
}

.logo {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    height: 105px;
    text-align: center;
    line-height: 95px;
    width: 306px;
    max-width: 100%;
}

.default_logo {
    width: 166px;
    height: 48px;
}

.menu {
    justify-content: space-evenly;
}

.nav-item {
    padding: 0 30px 0px 0;
    text-transform: uppercase;
}

.nav-link {
    color: white;
}

.nav-link.active {
    color: #fa4d09 !important;
}

.nav-link a:hover {
    color: #fa4d09 !important;
}

.btn-right-area {
    width: 210px;
    display: flex;
}

.btn-right {
    width: calc(100%/2);
    height: 105px;
    padding: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}

.btn-right.btn-nav-dark {
    color: black;
}

.btn-menu.btn-nav-dark {
    background: #313131;
    color: white;
}

.input_search {
    position: absolute;
    right: 150px;
    top: 104px;
    background: #313131;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    border-radius: 0;
    padding: 30px;
    box-shadow: none;
    transition: .3s;
    display: none;

}

.input_search input {
    width: 230px;
    height: 46px;
    border: unset;
    border-radius: 0;
    padding: 8px 50px 8px 0;
    font-weight: 400;
    font-size: 16px;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #a5a4a4;
    outline: none;
}

.input_search .icon_search {
    position: absolute;
    z-index: 2;
    /* height: 100%; */
    width: 50px;
    right: 6px;
    /* top: 0; */
    font-size: 25px;
    background: transparent;
    border: 0;
    box-shadow: none;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}



/* footer */

#footer {
    width: 100%;
    background: #282828;
}

.footer-logo {
    width: 55%;
    margin-bottom: 20px;
}

.footer-header {
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    display: block;

}

#footer .footer-section {

    max-width: 100%;
    width: 1170px;
    margin: auto;

    min-height: 300px;
    color: #ffffff;
}

#footer .list-item {
    display: flex;
    padding: 60px 0 40px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section .item {
    /* margin: 10px; */
    width: calc(100%/4);
    padding: 15px;
}

.footer-label {
    font-weight: 400;
    color: #cccccc;
}

.footer-info {
    width: 100%;
    font-weight: 400;
    color: #cccccc;
}

.footer-info .row-infor {
    margin-bottom: 15px;
}

.footer-info ul {
    list-style-type: none;
    padding-left: 0;
}

.item-link {
    margin: 10px 0 10px 0;

}

.item-link a {
    font-weight: 400;
    color: #cccccc;
    text-decoration: none;
}

.item-link a:hover {
    color: #fa4d09;
}

.list-footer-image {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.footer-image {
    height: 75px;
    padding: 3px;
}

.footer-image img {
    width: 100%;
    height: 100%;
}

.footer-link a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: white;
}

.footer-link a:hover {
    color: rgb(172, 172, 172);
}

/* sibar */
#rightSidebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}



#rightSidebar.open {
    display: block !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999999999999;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    animation: example ease-in-out 0.5s;
}

@keyframes example {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.4s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sidenav-body {
    margin-top: 92px;
    color: white;
    padding: 0 20px;
}

.sidenav-body .sidenav-image {
    margin-bottom: 20px;
}

.sidenav .side-panel_close {
    display: block;
    position: absolute;
    font-size: 40px;
    right: 0px;
    top: 0;
    color: #fff;
    width: 102px;
    height: 105px;
    line-height: 80px;
    cursor: pointer;
    z-index: 9999;
    transition: all .45s ease-in-out;
    background: #323232;
    text-align: center;
    padding-right: 20px;
}

.sidebar-info .row-infor {
    margin: 15px 0;
    font-size: 20px;
}

.sidebar-link {
    display: flex;
}

#go-top {
    position: fixed;
    right: 0;
    bottom: 10%;
    color: white;
    display: none;
    transform: 0.6;
}

#go-top a {
    width: 100%;
    height: 100%;
    background-color: #fa4d09;
    padding: 14px 20px;
}

#go-top.open {
    display: block !important;
    animation: goTop ease .5s;
}

@keyframes goTop {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#go-top a {
    color: white;
}

.margin_top-10 {
    margin: 10px 0;
}


/*---------------------
  Contact
-----------------------*/

.contact {
    padding-top: 80px;
    padding-bottom: 50px;
}

.contact__widget {
    margin-bottom: 30px;
}

.contact__widget span {
    font-size: 36px;
    color: #7fad39;
}

.contact__widget h4 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 6px;
    margin-top: 18px;
}

.contact__widget p {
    color: #666666;
    margin-bottom: 0;
}

#menu-scroll {
    display: none;
    width: 120px;
    height: 220px;
    position: fixed;
    right: 1%;
    top: 30%;
    border-radius: 3px;
}

#menu-scroll .list-menu {
    padding: 0;
}

#menu-scroll .item-menu {
    list-style-type: none;
    cursor: pointer;
    padding: 1px 24px;
    display: block;
    background-color: #e9eaea;
    min-width: 120px;
    margin: 3px 0;
    border-radius: 4px;
    line-height: 42px;
}

#menu-scroll .item-menu a {
    text-decoration: none;

}

#contact-scroll {
    width: 120px;
    height: 220px;
    position: fixed;
    left: 0%;
    bottom: 0;
    /* background: white; */
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    z-index: 999;
}

#contact-scroll .list-menu {
    padding: 0;
}

#contact-scroll .item-menu {
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
    display: block;
    line-height: 42px;
    width: 50px;
    height: 50px;
    background-color: #333;
    margin: 10px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    line-height: 30px;
}

#contact-scroll .item-menu>a {
    color: white;
}


.item-menu {
    position: relative;
}

.item-menu-plugin.active {
    display: block !important;
}

.item-menu-plugin {
    position: absolute;
    color: white;
    width: 275px;
    /* max-width: 100%; */
    height: 40px;
    background: #509600 !important;
    left: 56px;
    top: 5px;
    border-radius: 5px;
    padding: 5px;
    line-height: 30px;
    display: none;
    animation: contactLeft ease-in-out 0.6s;

}

@keyframes contactLeft {
    from {
        transform: translateY(-60%);
    }

    to {
        transform: translateY(0);
    }
}


.item-menu-plugin::before {
    padding-left: 30px;
    content: '';
    margin-left: -20px;
}

/* page 2 */

/* #page-header-image {
    background: url("../images/image_all/anh1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom center;
    background-color: #323232;

    height: 550px;
    width: 100%;
    max-width: 100%;
}

.page-header_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.page-header_content p a {
    color: white;
}

.header_heading {
    font-size: 48px;
    line-height: 58px;
} */