#header {
    background-color: rgba(34, 35, 40, 0.4);
}

#page-header-image {
    background: url("../images/image_all/anh1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom center;
    background-color: #323232;

    height: 550px;
    width: 100%;
    max-width: 100%;
}

.page-header_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 155px;
}

.page-header_content p a {
    color: white;
}

.header_heading {
    font-size: 48px;
    line-height: 58px;
}